* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(yellow, white);
    padding-top: 150px;
    height: 100vh;
}

img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: radial-gradient(white, yellow);
    padding-top: 50px;
}